  <table class='table'>
    <tr><%= attachment_image_tag @user, :profile_image, fallback:"no_image.jpg", size: "100x100" %></tr>
    <tr>
        <th>Name</th>
        <th><%= @user.name %></th>
    </tr>
    <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
    </tr>
</table>
<div class='row'>
  <%= link_to '',edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block fas fa-user-cog " %>
</div>

  <%= form_with model:@book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Book", class: 'btn btn-success' %>
  </div>
<% end %>